/* Copyright Arbaoui Mehdi 2013 */
html{font-size:16px;}
body {
    font-family: Georgia;
    background-image: linear-gradient(90deg, rgba(12, 0, 200, 0.42) 50%, transparent 50%), linear-gradient(rgba(12, 0, 200, 0.42) 50%, transparent 50%);
    background-image: -webkit-linear-gradient(0, rgba(12, 0, 200, 0.42) 50%, transparent 50%), -webkit-linear-gradient(rgba(12, 0, 200, 0.42) 50%, transparent 50%);
    background-image: -o-linear-gradient(0, rgba(12, 0, 200, 0.42) 50%, transparent 50%), -webkit-linear-gradient(rgba(12, 0, 200, 0.42) 50%, transparent 50%);
    background-size: 50px 50px;
    background: url('background.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
	color:#545454;
	font-size:1em;
	margin:0;
}
a{
	text-decoration:none;
	color: #093;
}
h3{
	margin:0;
	font-size:1.1em;
    margin-bottom: 8px;
}
p{
	margin:0;
    margin-bottom: 5px;
}
li{
	margin:0;
	line-height:1.4;
	font-size:0.95em;
}
span{
	font-size:0.8em;
}
#card {
    background: #fff;
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    margin: 3% auto;
    padding: 20px 30px;
    border: 1px solid white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#card h1 {
    color: #dc152c;
    font-weight: normal;
    font-size: 48px;
    margin: 0 0 10px 0;
}
#card h1::first-letter {
    color: #194ff7;
}
#card h1 b {
    color: #f1840b;
    font-weight: normal;
}
#card h1 b + b {
    color: #194ff7;
}
#card h1 b + b + b {
    color: #00940e;
}
.content {
    text-align: left;
    /* Pure CSS3 typing animation with steps() :
     http://lea.verou.me/2011/09/pure-css3-typing-animation-with-steps/ */
}
.content ul {
    padding: 0;
    margin: 0;
    font: 16px Arial;
}
.content > ul > li {
    list-style: none;
    margin-bottom: 30px;
}
.content ul li span {
    display: block;
    width: 100%;
    color: #545454;
    margin-bottom: 2px;
}
.content ul li span a {
    color: #545454;
    text-decoration: none;
}
.content ul li span a:hover {
    color: rgba(12, 0, 200, 0.9);
}
.content ul li span:nth-child(2) {} .content ul li span:nth-child(2) a {
    color: #093;
    text-decoration: none;
}
.content ul li span:nth-child(3),
.content ul li span:nth-child(4) {
    font-size: 14px;
}
.content .text {
	padding:5px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
	border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.content .text h2 {
    position: relative;
    float: left;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0;
    margin: 5px 10px;
}
.content .text h2 span {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background: white;
    /* same as background */
    
    border-left: 0.1em solid black;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: typing 1s steps(20, end), blink-caret 1s step-end infinite;
    -moz-animation: typing 1s steps(20, end), blink-caret 1s step-end infinite;
}


/* Socail */
#work{
	padding:0;
}
#work li{list-style:none;margin-bottom:5px;}
#work li span{
    display: inline;
    background: #f5f5f5;
    border-radius: 2px;
    padding: 3px;
    vertical-align: middle;
}
#work li a{
	color: #093;
}
#social li{
	margin-top:4px;
	display:inline-block;
}
#social li a{
	color:#545454;
	margin-right:10px;
}
#social li span{display:none;}

#skills li{
	display:inline-block;
	background:#f5f5f5;
	border-radius:2px;
	margin-right:3px;
	margin-bottom:3px;
	padding:3px;
	font-size:0.8em;
}
#skills li b{
	font-size:1.2em;
	color:#545454;
}

#services{
	list-style:none;
}

.animated {
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -khtml-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -khtml-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -khtml-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    animation-name: fadeIn;
}
/* Typing keyframes */

@-webkit-keyframes typing {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
@-moz-keyframes typing {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
@-o-keyframes typing {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
@keyframes typing {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
/* FadeIn keyframes */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}