.section--404{
    height: 100vh;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.not-found {
    background-color: black;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    margin:0 auto;
}

.tipsiz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
}

.tipsiz-body {
    display: flex;
    align-items: center;
    margin: 10px;
}

.arm {
    align-self: flex-end;
    width: 50px;
    height: 90px;
    border-top: 3px solid black;

}

.left-arm {
    border-right: 3px solid black;
    transform: skew(20deg);
}

.right-arm {
    border-left: 3px solid black;
    transform: skew(-20deg);
}

.face {
    width: 300px;
    height: 200px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.upper-face {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 80px;
    margin-left: 80px;
}

.element {
    font-size: 60px;
}

.mouth {
    width: 20px;
    height: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 3px solid black;
    border-bottom: 0;
}

@media screen and (max-width: 650px) {
    .face{
        width: 200px;
        height: 120px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .arm{
        width: 15px;
        height: 53px;
    }
    .not-found{
        padding: 10px;
    }
    .upper-face{
        letter-spacing: 40px;
        margin-left: 40px;
        .element{
            font-size: 42px;
        }
    }
}