<div class="tt-section padding-top-xlg-150 padding-bottom-xlg-150 bg-white-accent-3">
    <div class="tt-section-inner tt-wrap max-width-1600">
        <div class="tt-heading tt-heading-xlg margin-bottom-7-p anim-fadeinup max-width-1250 margin-auto">
            <h3 class="tt-heading-subtitle">Latest News</h3>
            <h2 class="tt-heading-title">From the Blog</h2>
            <a href="blog-classic.html" class="tt-btn tt-btn-link">
                <div data-hover="Browse All News">Browse All News</div>
                <span class="tt-btn-icon"><i class="fas fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="tt-blog-carousel anim-fadeinup" data-speed="800" data-simulate-touch="true" data-pagination-type="bullets">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tt-blog-carousel-item">
                            <a href="blog-post.html" class="tt-bci-image-wrap" data-cursor="Read<br>More">
                                <figure class="tt-bci-image">
                                    <img class="swiper-lazy" src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/blog/carousel/blog-carousel-1.jpg" alt="Image" />
                                </figure>
                                
                            </a>
                            

                            <div class="tt-bci-info">
                                <div class="tt-bci-categories">
                                    <a href="blog-archive.html">Lifestyle</a>
                                </div>
                                <h2 class="tt-bci-title"><a href="blog-post.html">5 Surprising Techniques to Improve Your Creativity</a></h2>
                                <div class="tt-bci-meta">
                                    <span class="published">May 26, 2022</span>
                                    <span class="posted-by">- by <a href="blog-archive.html" title="View all posts by John Doe">John Doe</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tt-blog-carousel-item">
                            <a href="blog-post.html" class="tt-bci-image-wrap" data-cursor="Read<br>More">
                                <figure class="tt-bci-image">
                                    <img class="swiper-lazy" src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/blog/carousel/blog-carousel-2.jpg" alt="Image" />
                                </figure>
                                
                            </a>
                            

                            <div class="tt-bci-info">
                                <div class="tt-bci-categories">
                                    <a href="blog-archive.html">Tutorials</a>
                                </div>
                                <h2 class="tt-bci-title"><a href="blog-post.html">Avoid the Top 10 Mistakes Made by Beginners</a></h2>
                                <div class="tt-bci-meta">
                                    <span class="published">May 24, 2022</span>
                                    <span class="posted-by">- by <a href="blog-archive.html" title="View all posts by John Doe">John Doe</a></span>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="tt-blog-carousel-item">
                            <a href="blog-post.html" class="tt-bci-image-wrap" data-cursor="Read<br>More">
                                <figure class="tt-bci-image">
                                    <img class="swiper-lazy" src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/blog/carousel/blog-carousel-3.jpg" alt="Image" />
                                </figure>
                                
                            </a>
                            

                            <div class="tt-bci-info">
                                <div class="tt-bci-categories">
                                    <a href="blog-archive.html">Lifestyle</a>
                                    
                                </div>
                                <h2 class="tt-bci-title"><a href="blog-post.html">Why Some People Save Money With This Method</a></h2>
                                <div class="tt-bci-meta">
                                    <span class="published">May 23, 2022</span>
                                    <span class="posted-by">- by <a href="blog-archive.html" title="View all posts by John Doe">John Doe</a></span>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="tt-blog-carousel-item">
                            <a href="blog-post.html" class="tt-bci-image-wrap" data-cursor="Read<br>More">
                                <figure class="tt-bci-image">
                                    <img class="swiper-lazy" src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/blog/carousel/blog-carousel-4.jpg" alt="Image" />
                                </figure>
                                
                            </a>
                            

                            <div class="tt-bci-info">
                                <div class="tt-bci-categories">
                                    <a href="blog-archive.html">Inspiration</a>
                                    
                                </div>
                                <h2 class="tt-bci-title"><a href="blog-post.html">Want to Step Up Your Skills? You Need to Read This First</a></h2>
                                <div class="tt-bci-meta">
                                    <span class="published">May 21, 2022</span>
                                    <span class="posted-by">- by <a href="blog-archive.html" title="View all posts by John Doe">John Doe</a></span>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="tt-blog-carousel-item">
                            <a href="blog-post.html" class="tt-bci-image-wrap" data-cursor="Read<br>More">
                                <figure class="tt-bci-image">
                                    <img class="swiper-lazy" src="assets/img/low-qlt-thumb.jpg" data-src="assets/img/blog/carousel/blog-carousel-5.jpg" alt="Image" />
                                </figure>
                                
                            </a>
                            

                            <div class="tt-bci-info">
                                <div class="tt-bci-categories">
                                    <a href="blog-archive.html">Tutorials</a>
                                    
                                </div>
                                <h2 class="tt-bci-title"><a href="blog-post.html">Secrets to Getting Your Project to Complete Quickly</a></h2>
                                <div class="tt-bci-meta">
                                    <span class="published">May 19, 2022</span>
                                    <span class="posted-by">- by <a href="blog-archive.html" title="View all posts by John Doe">John Doe</a></span>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            <div class="tt-blc-nav-prev">
                <div class="tt-blc-nav-arrow magnetic-item"><i class="tt-arrow-left"></i></div>
            </div>
            <div class="tt-blc-nav-next">
                <div class="tt-blc-nav-arrow magnetic-item"><i class="tt-arrow-right"></i></div>
            </div>

            <div class="tt-blc-pagination hide-cursor"></div>
        </div>
    </div>
    
</div>
