<div class="tt-section padding-top-xlg-150">
    <div class="tt-section-inner tt-wrap max-width-700">
        <div class="tt-heading tt-heading-xxlg margin-bottom-8-p anim-fadeinup">
            <h3 class="tt-heading-subtitle">Get in Touch</h3>
            <h2 class="tt-heading-title">
                Let's Work<br />
                Together!
            </h2>
        </div>
        <form id="tt-contact-form" class="tt-form-filled anim-fadeinup">
            <div class="tt-row">
                <div class="tt-col-md-6">
                    <div class="tt-form-group">
                        <label for="contact_name">Your Name <span class="required">*</span></label>
                        <input id="contact_name" class="tt-form-control" type="text" autocomplete="name" name="Name" placeholder="" required />
                    </div>
                </div>
                

                <div class="tt-col-md-6">
                    <div class="tt-form-group">
                        <label for="contact_email">Email address <span class="required">*</span></label>
                        <input id="contact_email" class="tt-form-control" type="email" autocomplete="email" name="Email" placeholder="" required />
                    </div>
                </div>
                
            </div>
            

            <!--
            <div class="tt-form-group">
                <label>Subject <span class="required">*</span></label>
                <input class="tt-form-control" type="text" name="Subject" placeholder="" required />
            </div>
            -->

            <div class="tt-form-group">
                <label for="contact_subject">Subject <span class="required">*</span></label>
                <select id="contact_subject" class="tt-form-control" name="Subject" required>
                    <option value="" disabled selected>Please choose an option</option>
                    <option value="Say Hello">Say hello</option>
                    <option value="Discuss a new project">Discuss a new project</option>
                    <option value="Collaborate on a project">Collaborate on a project</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="tt-form-group">
                <label for="contact_msg">Your Message <span class="required">*</span></label>
                <textarea id="contact_msg" class="tt-form-control" rows="5" name="Message" placeholder="" required></textarea>
            </div>

            <small class="tt-form-text"><em>Fields marked with an asterisk (*) are required!</em></small>

            <button type="submit" class="tt-btn tt-btn-primary margin-top-30">
                <div data-hover="Send Message" id="submitBtn">Send Message</div>
                <span class="tt-btn-icon"><i class="fas fa-paper-plane"></i></span>
            </button>
        </form>
    </div>
    
</div>