<footer id="tt-footer">
    <div class="tt-footer-inner">
        <div class="footer-col tt-align-center-left">
            <div class="footer-col-inner">

                <a href="#" class="tt-btn tt-btn-link scroll-to-top">
                    <span class="tt-btn-icon"><i class="fas fa-arrow-up"></i></span>
                    <div data-hover="Back to Top">Back to Top</div>
                </a>

            </div> 
        </div>
        <div class="footer-col tt-align-center order-m-last">
            <div class="footer-col-inner">

                <div class="tt-copyright text-gray">
                    <a href="http://harshadsatra.in/" target="_blank" rel="noopener" class="tt-btn tt-btn-link">
                        <span class="tt-btn-icon"><i class="far fa-copyright"></i></span>
                        <div data-hover="harshadsatra.in">harshadsatra.in</div>
                    </a>
                </div>

            </div> 
        </div>
        <div class="footer-col tt-align-center-right">
            <div class="footer-col-inner">

                <div class="footer-social">
                    <div class="footer-social-text"><span>Follow</span><i class="fas fa-share-alt"></i></div>
                    <div class="social-buttons">
                        <ul>
                            <li><div class="magnetic-wrap"><a href="https://www.linkedin.com/in/harshadsatra/" class="magnetic-item not-hide-cursor" target="_blank" rel="noopener" ><i class="fab fa-linkedin-in"></i></a></div></li>
                            <li><div class="magnetic-wrap"><a href="https://github.com/harshadsatra" class="magnetic-item not-hide-cursor" target="_blank" rel="noopener" ><i class="fab fa-github"></i></a></div></li>
                            <li><div class="magnetic-wrap"><a href="https://www.instagram.com/harshadsatra" class="magnetic-item not-hide-cursor" target="_blank" rel="noopener" ><i class="fab fa-instagram"></i></a></div></li>
                            <li><div class="magnetic-wrap"><a href="https://twitter.com/Harshadsatra" class="magnetic-item not-hide-cursor" target="_blank" rel="noopener" ><i class="fab fa-twitter"></i></a></div></li>
                        </ul>
                    </div> 
                </div> 

            </div> 
        </div>
    </div>
</footer>
