<footer id="tt-footer">
    <div class="tt-footer-inner">
        <div class="footer-col tt-align-center-left">
            <div class="footer-col-inner">

                <a href="#" class="tt-btn tt-btn-link scroll-to-top">
                    <span class="tt-btn-icon"><i class="fas fa-arrow-up"></i></span>
                    <div data-hover="Back to Top">Back to Top</div>
                </a>

            </div> 
        </div>
        <div class="footer-col tt-align-center order-m-last">
            <div class="footer-col-inner">

                <div class="tt-copyright text-gray">
                    <a href="https://themetorium.net" target="_blank" rel="noopener" class="tt-btn tt-btn-link">
                        <span class="tt-btn-icon"><i class="far fa-copyright"></i></span>
                        <div data-hover="Themetorium.net">Themetorium.net</div>
                    </a>
                </div>

            </div> 
        </div>
        <div class="footer-col tt-align-center-right">
            <div class="footer-col-inner">

                <div class="footer-social">
                    <div class="footer-social-text"><span>Follow</span><i class="fas fa-share-alt"></i></div>
                    <div class="social-buttons">
                        <ul>
                            <li><a href="https://www.facebook.com/themetorium" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/Themetorium" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com/" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://dribbble.com/Themetorium" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="https://www.behance.net/Themetorium" class="magnetic-item" target="_blank" rel="noopener"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div> 
                </div> 

            </div> 
        </div>
    </div>
</footer>
