<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="author" content="Harshad Satra" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Harshad Satra" />
<meta property="og:image" content="https://www.harshadsatra.in/assets/img/harshad-developer.jpg" />
<meta property="profile:first_name" content="Harshad" />
<meta property="profile:last_name" content="Satra" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta property="twitter:image" content="https://www.harshadsatra.in/assets/img/harshad-developer.jpg" />
<meta property="twitter:card" content="summary_large_image" />

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Favicon (http://www.favicon-generator.org/) -->
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

<!-- Google fonts (https://www.google.com/fonts) -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@600;700;800&display=swap" rel="stylesheet" />
<!-- Secondary/Alter font -->

<link id="tt-themecss" rel="stylesheet" href="assets/css/main.css" />

<meta name="keywords" content="Harshad Satra,Harshad,Satra,front end developer,web developer,PHP,wordpress,bootstrap,HTML5,CSS3,html,css,javascript,jQuery,js,freelancer,magento,eCommerce" />
