<header id="tt-header" class="tt-header-fixed">
    <div class="tt-header-inner">
        <div class="tt-header-col">
            <div class="tt-logo"> 
                <a href="index.html">
                    <img src="assets/img/logo-light.svg" class="tt-logo-light magnetic-item" alt="Logo">
                    <img src="assets/img/logo-dark.svg" class="tt-logo-dark magnetic-item" alt="Logo">
                </a>
            </div>
        </div>

        <div class="tt-header-col">
            <div id="tt-ol-menu-toggle-btn-wrap">
                <div class="tt-ol-menu-toggle-btn-text-wrap hide-cursor">
                    <div class="tt-ol-menu-toggle-btn-text">
                        <span class="text-menu" data-hover="Open">Menu</span>
                        <span class="text-close">Close</span>
                    </div>
                </div>
                <div class="tt-ol-menu-toggle-btn-holder">
                    <a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
                </div>
            </div>

            <nav class="tt-overlay-menu tt-ol-menu-count">
                <div class="tt-ol-menu-ghost">Explore</div>
                <div class="tt-ol-menu-holder">
                    <div class="tt-ol-menu-inner tt-wrap">
                        <div class="tt-ol-menu-content">
                            <ul class="tt-ol-menu-list">

                                <li class="active"><a href="landing-page.html">Home</a></li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Portfolio</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div>
                                    </div>
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Portfolio List</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div>
                                                </div>
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-list.html">Portfolio List</a></li>
                                                        <li><a href="portfolio-list-alter.html">Portfolio List Alter</a></li>
                                                        <li><a href="portfolio-list-thumb.html">Portfolio List Thumbnail</a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Portfolio Grid</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-grid-creative.html">Grid Creative</a></li>
                                                        <li><a href="portfolio-grid-modern.html">Grid Modern</a></li>
                                                        <li><a href="portfolio-grid-portrait-mode.html">Grid Portrait Mode</a></li>
                                                        <li><a href="portfolio-grid-classic.html">Grid Classic</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Portfolio Interactive</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-interactive.html">Interactive Classic</a></li>
                                                        <li><a href="portfolio-interactive-center.html">Interactive Senter</a></li>
                                                        <li><a href="portfolio-interactive-inline.html">Interactive Inline</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Portfolio Split</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-split.html">Portfolio Split</a></li>
                                                        <li><a href="portfolio-split-reverse.html">Portfolio Split Reverse</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Slider &amp; Carousel</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-fullscreen-slider.html">Fullscreen Slider</a></li>
                                                        <li><a href="portfolio-fullscreen-carousel.html">Fullscreen Carousel</a></li>
                                                        <li><a href="portfolio-hover-carousel.html">Fullscreen Hover Carousel</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                            <li><a href="portfolio-one-column.html">One Column</a></li>
                                            <li><a href="elements-classic-menu.html">Classic Menu</a></li>
                                            <li><a href="elements-classic-filter.html">Classic Filter</a></li>

                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">About</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div> 
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">

                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="about-me.html">About Me</a></li>

                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Blog</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div> 
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Blog List</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                                        <li><a href="blog-classic-sidebar.html">Classic Sidebar</a></li>
                                                        <li><a href="blog-compact.html">Compact List</a></li>
                                                        <li><a href="blog-archive.html">Blog Archive</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Blog Post</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="blog-post.html">Single Post</a></li>
                                                        <li><a href="blog-post-classic-sidebar.html">Classic Sidebar</a></li>
                                                        <li><a href="blog-post-no-featured-image.html">No Featured Image</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Contact</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div> 
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">

                                            <li><a href="contact.html">Contact Form</a></li>
                                            <li><a href="contact-simple.html">Contact Simple</a></li>

                                        </ul> 
                                    </div> 
                                </li>
                            </ul>
                            <ul class="tt-ol-menu-social">
                                <li><h6 class="tt-ol-menu-social-heading">Social Links:</h6></li>
                                <li><a href="https://www.facebook.com/themetorium" target="_blank" rel="noopener">Facebook</a></li>
                                <li><a href="https://twitter.com/Themetorium" target="_blank" rel="noopener">Twitter</a></li>
                                <li><a href="https://www.youtube.com/" target="_blank" rel="noopener">Youtube</a></li>
                                <li><a href="https://dribbble.com/Themetorium" target="_blank" rel="noopener">Dribbble</a></li>
                                <li><a href="https://www.behance.net/Themetorium" target="_blank" rel="noopener">Behance</a></li>
                            </ul>
                        </div>
                    </div> 
                </div> 
            </nav> 
        </div>
    </div>
</header>