<div id="page-transition">
	<div class="ptr-overlay"></div>
	<div class="ptr-preloader">
		<div class="ptr-prel-content">
			<img src="/assets/img/logo-light.svg" width="48" height="48" class="ptr-prel-image tt-logo-light" alt="Logo" />
		</div>
	</div>
</div>
<div id="magic-cursor">
	<div id="ball"></div>
</div>

<img src="/assets/img/shadow-2.png" alt="Hero" class="bg-fixed-img bg-pattern" />
<div class="base-grid bg-fixed opacity-40 bg-pattern"></div>
<div class="bg-fixed bg-gradient bg-pattern"></div>
