<div id="page-transition">
    <div class="ptr-overlay"></div>
    <div class="ptr-preloader">
        <div class="ptr-prel-content">
            <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
            <img src="assets/img/logo-light.svg" class="ptr-prel-image tt-logo-light" alt="Logo">
        </div> <!-- /.ptr-prel-content -->
    </div> <!-- /.ptr-preloader -->
</div>
<!-- End page transition -->

<!-- Begin magic cursor 
======================== -->
<div id="magic-cursor">
    <div id="ball"></div>
</div>
<!-- End magic cursor --> 